@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,700;1,900&display=swap');
*{
  margin: 0;
}


.nav{
    font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: medium;}

   .logo-image{
        width: 100%;
        height: auto;
        object-fit: cover;
        overflow: hidden;}
    
    #img-fluid{
        height: 6rem;
        overflow:visible;
        margin: 1rem;
        position: relative;
        box-shadow: rgb(102, 100, 100) 4px 4px 4px;
       
      }
       

      #conta{
        background-color: rgb(255, 255, 255);
        font-family: "Raleway" sans-serif;
        margin-top:5rem;
        padding: 5rem;

      }

      #conta .img-fluid{ 
        max-width: 50%; 
        height: 10%;
        overflow: hidden;
        object-fit: cover;
      }

      .card{
        width: 35rem;
        border-radius: 2rem;

        background-color: rgb(236, 234, 231);
        padding: 3rem;
        margin: 3rem;

      }
      
      .card:hover{
        box-shadow: rgb(102, 100, 100) 4px 4px 4px;
     }

     .card>img:hover{
      box-shadow: rgb(102, 100, 100) 4px 4px 4px;
   }

     .card-img-top{
      width: auto;
      height: 20rem;
      border-radius: 2rem;

      }

      .card{
        border: solid red 2px;
      }

      .col-sm4{
        padding: 5rem;
      }


      
#popup {
  z-index: 100;
  display:none;
  position:fixed;
  margin:0 auto;
  top: 30%;
  left: 80%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 50px 2px #000;
}


.img-fluid{

max-width: 100%; 
height: auto;
border-radius: 2rem;
}

.how-section1 .row
{
    margin-top: 10%;
}
.how-img 
{
    text-align: center;
}
.how-img img{
    width: 70%;
}