* {
box-sizing: border-box;

}

html {
    font-size: 62.5%;
}

body {
    color: #fff;
     text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;

}

div{
    margin: .5rem;

}

.navbar{
display: block;
background-color: green;
height: 6rem;


}

.container{
    padding: 1rem;
    height: 100rem;
    display: grid;
    grid-template-columns: 33.33%,  33.33%,  33.33% ;
    grid-template-rows: 50%, 50%;
    grid-template-areas: "f f t" "s s t" "s s t" ;
    border: 1px solid black;
    grid-gap: 0.8rem;
}

.s1{
    background-color: red;
    grid-area: f;
}


.s2{
    background-color: rgb(233, 138, 15);
    grid-area: s;
}


.s3{
    background-color: rgb(247, 9, 148);
    grid-area: t;
}

@media  screen and (max-widht:640px) {
    .container {
        grid-template-areas: "t t t " " s s s"  " f f f";

    }    
}

.footer{
display: block;
background-color: violet;
height: 

}